
  *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline:invert;
        transition: .2s linear;
        }
   
    header{
        position:sticky;
        top:0; left:0;right: 0;
        background: rgba(219, 136, 136, 0.795);
        padding: 2rem 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        }

    .navbar a{
        color: black;
        text-decoration: none;
        padding: 55px;
        text-align: center;
        height: 19px;
        font-size:16px;
        font-family: cursive;
        padding: 5px 10px;
    }
    .navbar ul{
      list-style-type: none;
      padding: 0px;
      margin: 0px;
      overflow: hidden;
      }
    .navbar a:hover{
  background-color: #4c585e;
  color: white;
  border-radius: 5px;
  
}
.navbar li{
    float: left;
    }

  section{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.avif);
    background-size: cover;
    background-position:right;
    background-size: cover;
    text-align: left;
    position: relative;


}
.home .introduction{
    max-width: 50rem;
    }
.home .introduction h1{
     font-size: 3.5rem;
     color: white;
     text-align: center;
     font-family:cursive;
   }  
 .container .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #4b4276;
    padding: 30px 0;
    }  
.contact-container{
    height: 100px;
    justify-content: space-evenly;
 }
 .contact-left{
    align-items: start;
    gap: 20px;
    display: flex;
    flex-direction:column;
    }
  .contact-inputs{
    height:35px;
    padding: 9px;
    font-weight: 300;
    border-radius: 50px;
  }
  .contact-left textarea{
    height: 50px;
    border-radius: 10px;
    }
  .contact-inputs{
    border: 2px solid rgb(137, 137, 235);
    }
   .contact-left button{
      display: flex;
      align-items: center;
      gap:10px;
      border-radius: 50px;
      padding:12px 30px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 50px;
      background: rgb(238, 175, 240);
       }
      article{
      color: black;
      text-align: center;
      padding-left: 10px;
      padding: 15px 60px 13px 250px;
      font-family: sans-serif,Geneva, Tahoma;
      }
     
     .image-container{
      display: flex;
      justify-content: center;
      }
      .cards{
        background:pink;
        width:270px;
        height: 400px;
        margin: 10px;
        border-radius: 15px;
      }
       .card-image{
        height: 150px;
        background-size: cover;
      }
      .card-img img{
        width: 100%;
     }
      .cards-body p{
        text-align: justify;
        padding-left: 5px;
        margin-bottom: 10px;
       }
      .cards-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
      }
      .cards-footer button{
        width: 150px;
        border-radius: 15px;
        background-color: rgb(48, 47, 47);
        color: white;
        border: 2px solid rgb(55, 55, 56);
        font-size: 17px;
        }
      .button {
      display: flex;
      align-items:end;
      justify-content: center;
      padding: 15px 30px;
      font-size: 16px;
      color:white;
      gap: 10px;
      border-radius: 50px;
      background: linear-gradient(270deg,#ff994f,#fa6d86);
      cursor: pointer;
      border: 2px solid #04AA6D ;
}

.buttonAlign {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.row{
  display:flex;
  align-items: flex-end;
  gap: 20px;
}  
.websites{
  background: pink;
  width: 22%;
  border-radius: 24px;
  overflow: hidden;
  }
  .skills-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
    }
  .website-box{
    border: 2px  solid blue;
    padding: 15px;
    width: 500px;
    text-align: left;
    border-radius: 8px;
  }
  .website-box h3{
    text-align: center;
    }
   .website-box li{
    color: #424376;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Poppins',sans-serif;
}
.skills-title{
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: blue;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: cursive;
  }
.website-box li::marker{
  content: "★";
  color:#ff994f;
  font-size: 20px;
  }
      
  .Project-1 {
   background: pink;
    background-size: cover;
    background-position:right;
    background-size: cover;
    text-align: left;
    position: relative;
}
.projectOne {
        display: flex;
        padding: 10px 40px 20px 20px ;
        align-items: center;
        justify-content: center;
        gap: 50px;
        }
    .small-image{
      width: 250px;
      height: 230px;
      border-radius: 15px;
      }
    .main-footer{
      padding: 20px 0;
      margin-top: 40px;
      background-color: lightpink;
      text-align: center;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.15);
      border-top: 3px solid black;
      margin-bottom: 30px;
      width:100%
    }
    .logo{
      font-size: 28px;
      font-family: cursive;
      font-weight: bold;
      color: black;
      letter-spacing: 2px;
      
   }
   .logo span{
    color: rgb(80,0,80);
    padding-left: 2px;
    }
    .navbar ul{
      list-style: none;
      display: flex;
      gap: 20px;
     }
     .gap{
      margin-left: 12px;
    }

.project2-hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background: #ffe6e1;
  border-radius: 15px;
  margin: 40px auto;
  width: 85%;
  box-shadow: 0 0 20px rgba(25,170,150,0.3);
}
.project2-hero-content{
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 50%;
}
.project2-hero-content h1{
  font-size: 45px;
  font-family: cursive;
  color: #6f6c8f;
}
.project2-tagline{
  font-size: 20px;
  margin: 10px 0 20px;
  color: #5a5750;
}
.project2-button{
  text-decoration: none;
  background: #ff8f7d;
  color: white;
  padding: 12px 25px;
  border-radius: 10px;
  font-size: 18px;
}
.project2-button:hover{
  background: #6f6c8f;
}
.project2-hero-image img{
  width:350px;
  border-radius: 20px;
  box-shadow: 0 0 25px #ff8f7d, 0 0 50px #ffe6e1;
}
.project2-section{
  width: 85%;
  margin: 30px auto;
}
.project2-box{
  background: #fffaf6;
  border: 3px solid #ff8f7d;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 0 20px rgba(255,170,150,0.3);
  margin-bottom: 30px;
}
.project2-box h2{
  text-align: center;
  color: #ff8f7d;
  margin-bottom: 15px;
}
.project2-image{
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 20px auto;
  border-radius: 12px;
  border: 4px solid #ff8f7d;
}
.project2-list{
  font-size: 1.2 rem;
  line-height: 1.8;
  color: #5a5750
}

.project2-image-row{
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 30px auto;
  width: 85%;
}
.project2-image-box{
  background: #fffaf6;
  border: 3px solid #ff8f7d;
  border-radius: 15px;
  padding: 15px;
  width: 45%;
  box-shadow: 0 0 20px rgba(255,170,150,0.3);
}
.project2-image-box img{
  width:100%;
  border-radius: 10px;
  border: 3px solid #ffe6e1;
}
.project2-image-caption{
  margin-top: 10px;
  font-size: 1rem;
  color: #5a5750;
  font-family: 'Poppins', sans-serif;
}
.project2-description-box{
  background: #ffe6e1;
  border: 3px solid #ff8f7d;
  border-radius: 15px;
  padding: 25px;
  width: 85%;
  margin: 30px auto;
  box-shadow: 0 0 20px rgba(25,170,150,0.3);
}
.project2-description-box{
  text-align: center;
  color: #6f6c8f;
  margin-bottom: 15px;
  font-family: cursive;
}
.project2-description-box{
  font-size: 1.15rem;
  line-height: 1.8;
  color: #5a5750;
  text-align: center;
}
.project3-container{
    width: 85%;
    margin:  40px auto;
    padding: 30px;
    background: #fffaf6;
    border-radius: 18px;
    box-shadow: 0,0, 20 rgba(255, 170, 150,0.3)
}
.project3-title{
    text-align: center;
    font-size: 2.5rem;
    color: #ff8f7d;
    margin-bottom: 10px;
    font-family: cursive;
}
.project3-subtitle{
    text-align: center;
    font-size: 1.3rem;
    color: #6f6c8f;
    margin-bottom: 30px;
}
.project3-box{
    background: #ffe6e1;
    border: 3px solid #ff8f7d;
    border-radius: 15px;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px rgba(255, 170, 150, 0.3);
}
.project3-box h2{
    color: #ff8f7d;
    margin-bottom: 15px;
    text-align: center;
}
.project3-box ul{
    font-size: 1.15rem;
    line-height: 1.8;
    color: #5a5750;
}
.project3-image-row{
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 30px auto;
  width: 85%;
}
.project3-image-box{
  background: #fffaf6;
  border: 3px solid #ff8f7d;
  border-radius: 15px;
  padding: 15px;
  width: 45%;
  box-shadow: 0 0 20px rgba(255,170,150,0.3);
  text-align: center;
}
.project3-image-box img{
  width:100%;
  border-radius: 10px;
  border: 3px solid #ffe6e1;
}
.project3-image-caption{
  margin-top: 10px;
  font-size: 1rem;
  color: #5a5750;
  font-family: 'Poppins', sans-serif;
}
.project3-description-box{
  background: #ffe6e1;
  border: 3px solid #ff8f7d;
  border-radius: 15px;
  padding: 25px;
  width: 85%;
  margin: 30px auto;
  box-shadow: 0 0 20px rgba(25,170,150,0.3);
}
.project3-description-box h2{
  text-align: center;
  color:#6f6c8f;
  margin-bottom: 15px;
  font-family: cursive;
}
.project3-description-box p{
  font-size: 1.15rem;
  line-height: 1.8;
  color: #5a5750;
  text-align: center;
  
} 
.project4-banner{
  width:85%;
  margin:40px auto;
  background: #e8fff4;
  padding:40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0,0,20 rgba(200,255,230,0.4);
}  
.project4-banner h1{
  font-size: 30rem;
  color: #7a5c7c;
  font-family: cursive;
}  
.project4-subheading{
  font-size: 1.3rem;
  color: #5f5f5f;
  margin-top: 10px;
}
.project4-secion{
  width:85%;
  margin: 30px auto;
}
.project4-box{
  background: #fffdf8;
  border: 3px solid #ffb3c6;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 0 20px rgba(225,179,198,0.3);
}
.project4-box h2{
  text-align: center;
  color: #7a5c7c;
  margin-bottom: 15px;
  font-family: cursive;
}
.project4-box p{
  color:#5f5f5f;
  font-size: 1.15rem;
  line-height: 1.8;
  color: #5f5f5f;
  text-align: center;
}
.project4-card-row{
  display: flex;
  justify-content: center;
  gap: 25px;
}
.project4-card{
  background: #e8fff4;
  border: 3px solid #ffb3c6;
  border-radius: 15px;
  padding: 25px;
  width: 30%;
  text-align: center;
  box-shadow: 0 0 20 rgba(200,255,230,0.4);
}
.project4-card h2{
  color: #7a5c7c;
  margin-bottom: 10px;
  font-family: cursive;
}
.project4-card p{
  color: #5f5f5f;
  font-size: 1.1rem;
}
.project4-button-container{
  text-align: center;
  margin: 30px 0;
}
.project4-button{
  display: inline-block;
  background: #ffb3c6;
  color: #7a5c7c;
  padding: 12px 30px;
  border-radius: 12px;
  font-size: 1.2rem;
  font-family: cursive;
  text-decoration: none;
  border: 3px solid #e8fff4;
  box-shadow: 0 0 0 20 rgba(225,179,198,0.3));
}
.project4-button:hover{
  background: #e8fff4;
  color: #5f5f5f;
  border-color: #ffb3c6;
  box-shadow: 0 0 20px rgba(200,255,230,0.5);
}

    


      
























